<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
  	<div class="container">
  		<a class="navbar-brand" href="#">Treebook</a>
  		<ul class="nav">
        <li><%= link_to "All Statuses", statuses_path %></li>
  		</ul>
      <ul class="nav">
        <li></li>
        <% if user_signed_in? %>
        <li><%= link_to current_user.full_name, edit_user_registration_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      </ul>
      <% else %>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <li><%= link_to "Login Up", new_user_session_path %></li>
      <% end %>
  	</div>

  </div>
 </nav>
<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
	<%= yield %>
</div>


</body>
</html>
